header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 10px solid var(--qwik-dark-purple);
}

header {
  padding: 0.5em 1em;
}

#control {
  display: flex;
}

#control button {
  padding: 0.5em 1em;
  border-radius: 10%;
  font-size: 100%;
  background-color: white;
}

#control button:hover {
  text-decoration: underline;
  background-color: yellowgreen;
  text-decoration: none;
  cursor: pointer;
}
